body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.mainframe{
    display: flex;
    width: 600px;
    background-color: grey;
}

.menu {
    width: 260px;
    background-color: red;
}

.sudoku {
    width: 340px; /* Adjusted width */
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #333;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    margin: 1px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #999;
}

.cell:focus {
    outline: none;
    border-color: #007bff;
}

.divider {
    border: 2px solid black;
}

.dividerfat {
    border: 5px solid black;
}


test
