<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login</h1>
        <form method="POST">
            <div>
                <label>Username: <input type="text" name="username"></label>
            </div>
            <div>
                <label>Password: <input type="password" name="password"></label>
            </div>
            <div>
                <input type="submit" value="Log in">
            </div>
        </form>
        <div>
            <a href="/register">Create Account</a>
        </div>
    </body>
</html>