header {
    background-color: #0a0a23; /* This is dark blue */
    color: #FFFFFF; /* This is white */
    border-bottom: 3px solid orange;
}

header h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0;
}

header p {
    font-size: 0.7em;
    margin-left: 30px; /* Adjust this value to align with the first letter of the h1 element */
}

#sudoku-grid {
    border-collapse: collapse;
    border: 3px solid #000; /* This makes the outer border thicker */
}

#sudoku-grid td {
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    padding: 0;
}

#sudoku-grid tr:nth-child(3n) td {
    border-bottom-width: 3px; /* This makes every third row's bottom border thicker */
}

#sudoku-grid td:nth-child(3n) {
    border-right-width: 3px; /* This makes every third column's right border thicker */
}

#sudoku-grid input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
}

#mijnveger-grid {
    border-collapse: collapse;
}
#mijnveger-grid td {
    border: 1px solid black;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    vertical-align: middle;
}

.red-grid {
    border-color: red;
}