<!DOCTYPE html>
<html>
<head>
    <title>Mijnveger</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function colorGrid(row, col) {
            var cell = document.getElementById('cell-' + row + '-' + col);
            if (cell.classList.contains('flagged')) {
                cell.classList.remove('flagged');
            }
        }
    </script>
</head>
<body>
    {% if session['message'] %}
    <p>{{ session['message'] }}</p>
    {% endif %}
    {% if session['has_won'] %}
    <p>Gefeliciteerd, je hebt gewonnen!</p>
    {% endif %}
    <form method="POST" action="{{ url_for('start') }}">
        <label for="difficulty">Kies een moeilijkheidsgraad:</label>
        <select name="difficulty" id="difficulty">
            <option value="makkelijk">Makkelijk</option>
            <option value="normal">Normaal</option>
            <option value="hard">Moeilijk</option>
        </select>
        <input type="submit" value="Nieuw Spel">
    </form>
    </form>
    <form method="POST" action="{{ url_for('hint') }}">
        <input type="submit" value="Hint">
    </form>
    <table id="mijnveger-grid">
        {% for row in range(game.board.size) %}
        <tr>
            {% for col in range(game.board.size) %}
            <td id="cell-{{ row }}-{{ col }}" class="{{ 'flagged' if game.board.board[row][col].is_flagged else '' }}">
                {% if game.board.board[row][col].is_revealed %}
                    {% if game.board.board[row][col].is_mine %}
                        M
                    {% else %}
                        {{ game.board.board[row][col].adjacent_mines }}
                    {% endif %}
                {% else %}
                    <form action="{{ url_for('reveal') }}" method="post">
                        <input type="hidden" name="row" value="{{ row }}">
                        <input type="hidden" name="col" value="{{ col }}">
                        <input type="submit" value="Reveal" onclick="colorGrid('{{ row }}', '{{ col }}')">
                    </form>
                    <form action="{{ url_for('flag') }}" method="post">
                        <input type="hidden" name="row" value="{{ row }}">
                        <input type="hidden" name="col" value="{{ col }}">
                        <input type="submit" value="{{ 'Unflag' if game.board.board[row][col].is_flagged else 'Flag' }}" onclick="colorGrid('{{ row }}', '{{ col }}')">
                    </form>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>